{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider blue">
		<div class="col-md-6"></div>
	</div>

	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-6 padding-none">
			<h1>Libraries</h1>
		</div>
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
      		{% if messages %}
		        <ul>
			        {% for message in messages %}
			            <li> <strong> {{ message }} </strong> </li>
			        {% endfor %}
		        </ul>
        	{% endif %}
    	{% endwith %}
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-5 padding-none">
			<a href="{{url_for('addnewLibrary')}}">
				<button class="btn btn-default" id="new-library">
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>Add Library
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

	{% for i in libraries %}
		<a href='{{url_for('currentLibrary', mylibrary_id=i.id) }}'>
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-3 library-list">
							<h3>{{i.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
	{% endfor %}

{% endblock %}
